[user]
	email = braedenmattson@gmail.com
	name = braedenmattson
[credential]
	helper = 
	helper = /home/braeden/Downloads/git-credential-manager
	credentialStore = plaintext
	cacheOptions = --timeout 10000000000000
[credential "https://dev.azure.com"]
	useHttpPath = true
